<section class="banner">
  
    <div class="banner-content">
      <div class="banner-text">
        <h1>Découvrez<br>nos produits<br>exclusifs</h1>
        <p>Des cafés soigneusement sélectionnés, des accessoires de qualité, 
          <br>et une expérience unique pour les amateurs de café.</p>
        <a routerLink="/produits">
          <button>Explorer</button>
        </a>
      </div>

      <div class="banner-images">
          <div class="images-container">
          <img src="assets/images/tasse_cafe.jpg" alt="Tasse vue du haut" class="main-img" />
          <img src="assets/images/manche_cafe.jpg" alt="Manche à café" class="side-img" />
          </div>
      </div>
    
    </div>

</section>
