:root {
  /* Palette Couleurs Principales */
  --color-primary: #a36a4f;
  --color-primary-dark: #412411;
  --color-header-bg: #f6edde;
  --color-banner-bg: #fffaf5;
  --color-text: #363032;
  --color-text-dark: #412411;
  --color-white: #ffffff;

  /* Polices */
  --font-family-title: 'Playfair Display', serif;
  --font-family-text: 'Poppins', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 858px; 
}

.container {
  padding: 0 144px;
  margin: 0 auto;
}
